body{
    background-color: black;
    margin:0;
    padding:0;
    align-items: center;
    justify-content: center;
    display:flex;
}

.container{
    background-color: gray;
    width:80vw;
    height:80vw;
    align-items: center;
    justify-content: center;
    display:flex;
    flex-direction: column;
    
}

.gridContainer{
    width: 50%;
    height:50%;
    background-color: white;
    display:grid;
    grid-template-columns: repeat(16,6.25%);
    grid-template-rows: repeat(16,6.25%);
    grid-gap: 0;

}

.clearBtn{
    margin-bottom:30px;
    font-size:20px;
    padding:10px;
}


.newGridContainer{
    margin:0;
    padding:0;
    width: 50%;
    height:50%;
    background-color: white;
    display:grid;    
    grid-gap: 0;
}